@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+JP&family=Roboto+Mono&display=swap");
@keyframes fadeInFromRight {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeOutToLeft {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-20px);
  }
}
body {
  font-family: "Dancing Script", cursive;
  user-select: none;
}
input {
  font-family: "Roboto Mono", "Noto Sans JP", monospace;
}
pre {
  position: relative;
  & > button.copyButton {
    position: absolute;
    top: 4px;
    right: 4px;
    font-family: "Dancing Script", cursive;
    opacity: 0.4;
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
  }
}
main {
  position: relative;
  width: 100%;
  & > div {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
  }
}
.hidden {
  animation: fadeOutToLeft 400ms ease-in-out 0ms 1 forwards;
}

.visible {
  animation: fadeInFromRight 400ms ease-in-out 400ms 1 forwards;
}
// header {
//   position: fixed;
// }
